@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1ch;

    --header-color: #fdba74;
    --projects-menu-color: #56aad1;
    --text-color-gray: #57534e;
    --accent-orange: #f97316;
    --cat-background: rgb(254, 253, 249);
    --accent-green: #bef264;
    --accent-yellow: #fde047;
    --accent-red: #fca5a5;
    --accent-green-darker: #a3e635;
    --light-gray: #e5e5e5;
    --light-gray-text: #a3a3a3;
    --light-gray-accent: #d4d4d4;
}

body,html{
    height: 100%;
}

.layout{
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
}

.header{
    grid-column: 1/-1;
    height: 4rem;
    padding: 1rem 2rem;
    
    background-color: var(--header-color);

    font-size: 2.5rem;

    display: flex;
    align-items: center;
}

.projects{
    width: 12rem;
    padding: 2rem;
    background-color: var(--projects-menu-color);

    &__title-container{
        display: flex;
        justify-content: space-evenly;
        font-weight: 700;
        padding-bottom: 2rem;
        font-size: 1.7rem;
    }

    &__list{
        display: grid;
        gap: 1.5rem;
        justify-content: center;
        font-size: 1.4rem;

    }

    &__item{
        cursor: pointer;
        padding: 0.5rem 2rem;
        &:hover{
            outline: var(--header-color) 2px solid;
        }
    }

    &__add-button{
        padding: 1rem;
    }
     
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;

    overflow-y: scroll;
}

@keyframes stagger {
    from{
        opacity: 0;
        transform: translateY(3rem);
    }
    to{
        opacity: 1;
        transform: translateY(0rem);
    }
}

.project-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    color: var(--text-color-gray);

    &__title{
        padding: 1rem 2rem;
        width: fit-content;
        text-align: center;
        box-shadow: 0 3px 0 0 var(--accent-orange);
        font-size: 1.7rem;
        font-weight: 700;
    }

    &__desc{
        width: min(70%, 60rem);
    }

    &__list{
        width: min(70%, 60rem);
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }

    &__list-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        padding:0.5rem  1.5rem ;
        width: 100%;
        height: 3rem;
        border: #fdba74 3px solid;
        border-radius: 1.25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;

        overflow: hidden;

        position: relative;
// animation stuff :)
        opacity: 0;
        animation: stagger ease-out 0.3s forwards 1;
        animation-delay: calc(var(--order) * 0.1s);

        &::before{
            position: absolute;
            content: "";
            height: 100%;
            left: -3rem;
            width: 3rem;
            border: #fdba74 3px solid;
            border-right: none;
            z-index: 1;
            border-top-left-radius: 1.25rem;
            border-bottom-left-radius: 1.25rem;

        }

        &.low-priority::before{
            background-color: var(--accent-green);
        }

        &.medium-priority::before{
            background-color: var(--accent-yellow);
        }

        &.high-priority::before{
            background-color: var(--accent-red);
        }

        &.done{
            background-color: var(--light-gray);
            color: var(--light-gray-text);
            border-color: var(--light-gray-text);

            &::before{
                background-color: var(--light-gray-accent);
                border-color: var(--light-gray-text);
            }
        }
    }
}

.emptyPage{
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--cat-background);
    color: var(--text-color-gray);

    &>img{
        height: 400px;
        width: 400px;
    }

    &>p{
        max-width: 50ch;
        text-align: center;
    }
}

.newToDoBtn{
    padding: 10px;

    &.hidden{
        visibility: hidden;
    }
}

.newToDoDialog{
    &__form{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1rem;
        column-gap: 2rem;
        padding: 2rem;


        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        border: 3px solid var(--header-color);
        border-radius: 0.5rem;
        background-color: var(--light-gray);
        color: var(--text-color-gray);

        &>*{
            padding: 0.5rem;
        }

        &>input{
            min-width: 18rem;
        }
    
        &>textarea{
            min-height: 8rem;
        }
    }

    &::backdrop{
        background-color: #57534e;
        opacity: 0.4;
    }
 
}

.toDo__add-btn{
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: var(--accent-green);
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border: 3px solid var(--header-color);
    color: var(--text-color-gray);

    &:hover{
        background-color: var(--accent-green-darker);
    }
}

.project-dialog{
    &__form{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1rem;
        column-gap: 2rem;
        padding: 2rem;


        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        border: 3px solid var(--header-color);
        border-radius: 0.5rem;
        background-color: var(--light-gray);
        color: var(--text-color-gray);

        &>*{
            padding: 0.5rem;
        }

        &>input{
            min-width: 18rem;
        }
    
        &>textarea{
            min-height: 8rem;
        }
    }

    &::backdrop{
        background-color: #57534e;
        opacity: 0.4;
    }
}

.project__add-new-button{
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: var(--accent-green);
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border: 3px solid var(--header-color);
    color: var(--text-color-gray);

    &:hover{
        background-color: var(--accent-green-darker);
    }
}